/* 
    Document   : main
    Created on : Nov 20, 2013, 4:20:21 PM
    Author     : marynchev
    Description:
        Purpose of the stylesheet follows.
*/


html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}



body { background-color: #fff}

.navbar-fixed-top { z-index: 17000000; }

.navbar-brand { display: inline-block; width: 220px; height: 46px; margin-top: 4px; overflow: hidden; background-repeat: no-repeat; background-position: 50%; text-indent: 100%; margin-right: 10px}

.banner-wrap { position: relative;  } 
.banner-wrap.block-overlayed .banner-holder { position: absolute; left: 0; top: -10px; right: 0; bottom: 0; padding-left: 60px; background-color: rgba(255, 248, 227, 1); }

.banner-holder { z-index: 1000; position: relative }




h2 {
  color: rgb(71, 34, 69);
  padding-bottom: 43px;
  background: url('../images/publisher/header-underline.png') 0 100% no-repeat;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about p {
  font-size: 18px;
  line-height: 24px;
  color:rgb(88, 88, 90);
}

/* Large desktop */
@media (min-width: 1200px) {   }

/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 979px) {   }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {  
  h1 { font-size: 15px; }
  h2 { font-size: 14px; }
  h3 { font-size: 11px; }
  h4 { font-size: 9px; }
  p { font-size: 7px }
  
}

/* Landscape phones and down */
@media (max-width: 480px) {  

}




#footer .right { float: right; }
#footer { margin-top: 100px; opacity: 0.7; }